{% extends 'baseIN.html' %}
{% block body %}




<div class="content text-center">
    {% load static %}
    <img src="{% static 'baner1.png' %}" alt="Medical Image" class="baner">
    {% load static %}
    <img src="{% static 'logowat.png' %}" alt="Medical Image1" class="logowat">

    <div class="content text-center">
        <h1 class="welcome-text">Witamy w medycznym systemie danych obrazowych</h1>
        <p class="content-text">Celem projektu jest odseparowanie sieci naczyn krwionosnych z badania dna oka</p>
    </div>
    <nav class="mb-4">
        <a href="#position1" class="list-group-item list-group-item-action">Pozycja 1</a>
        <a href="#position2" class="list-group-item list-group-item-action">Pozycja 2</a>
        <a href="#position3" class="list-group-item list-group-item-action">Pozycja 3</a>
    </nav>

    <div style="margin-bottom: 100px;"></div>

    <div class="table-responsive" id="position1">
        <h2 class="content-text">Kluczowe cechy:</h2>
        <ul class="feature-list">
            <li class="content-text">Przetwarzanie obrazu</li>
            <li class="content-text">Autoryzacja i logowanie uzytkownika</li>
            <li class="content-text">Informacje</li>
        </ul>
    </div>

    <div style="margin-bottom: 100px;"></div>

    <div class="table-responsive" id="position2">
        <table class="table">
            <thead>
                <tr>
                    <th>Kolumna 1</th>
                    <th>Kolumna 2</th>
                    <th>Kolumna 3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Wiersz 1, Kolumna 1</td>
                    <td>Wiersz 1, Kolumna 2</td>
                    <td>Wiersz 1, Kolumna 3</td>
                </tr>
                <tr>
                    <td>Wiersz 2, Kolumna 1</td>
                    <td>Wiersz 2, Kolumna 2</td>
                    <td>Wiersz 2, Kolumna 3</td>
                </tr>
                <tr>
                    <td>Wiersz 3, Kolumna 1</td>
                    <td>Wiersz 3, Kolumna 2</td>
                    <td>Wiersz 3, Kolumna 3</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="margin-bottom: 100px;"></div>

    <div id="position3" class="context-text">
        <p class="last">Tekst na ostatniej pozycji.</p>
    </div>

</div>

{% endblock body %}