<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <style>
        /* Dodane style CSS */
        .custom-signin-btn {
            margin-top: 8px; 
        }
    </style>
    <title>Your Title</title>
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'photo:list' %}">
                <img src="{% static 'logo3.jpg' %}" alt="Logo" height="30" class="d-inline-block align-text-top">
            </a>
            <span class="navbar-text">System Medyczny</span>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user:aktualnosci' %}">Aktualności</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O projekcie
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'user:opis' %}">Opis</a>
                            <a class="dropdown-item" href="{% url 'user:zespol' %}">Zespół</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user:kontakt' %}">Kontakt</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'photo:create' %}">Dodaj zdjęcie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Witamy {{user.username}}!</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'user:logout' %}" class="btn btn-sm btn-success custom-signin-btn">Wyloguj</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{% url 'user:login' %}" class="btn btn-sm btn-success custom-signin-btn">Zaloguj</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
